<!-- Checked...the JS and CSS does work! Woot! -->

<nav>
  <ul>
    <li><a href="#">View</a></li>
    <li><a href="#">Create</a></li>
    <li><a href="#">Edit</a></li>
    <li><a href="#">Delete</a></li>
  </ul>
</nav>

<div class="content">
  <div id="view" class="content-restrain">
    <h1>View</h1>
    <form action="javascript:void(0)">
      <p>ID:</p>
      <input type="text" autofocus required name="id" id="view-value">
      <br>
      <input type="submit" value="Submit" id="view-result">
    </form>
  </div><!-- end content-restrain -->
  
  <div id="create" class="content-restrain">
    <h1>Create</h1>
    <form action="javascript:void(0)">
      <p>General Info:</p>
      <input type="text" autofocus required name="general_info" id="create-gen-value">
      <p>Technical Specs:</p>
      <input type="text" required name="technical_sepcs" id="create-tech-value">
      <p>Where to Buy:</p>
      <input type="text" required name="where_to_buy" id="create-where-value">
      <br>
      <input type="submit" value="Submit" id="create-result">
    </form>
  </div><!-- end content-restrain -->
  
  <div id="edit" class="content-restrain">
    <h1>Edit</h1>
    <form action="javascript:void(0)">
      <p>ID:</p>
      <input type="text" autofocus required name="id">
      <p>General Info:</p>
      <input type="text" required name="general_info">
      <p>Technical Specs:</p>
      <input type="text" required name="technical_sepcs">
      <p>Where to Buy:</p>
      <input type="text" required name="where_to_buy">
      <br>
      <input type="submit" value="Submit" id="edit-result">
    </form>
  </div><!-- end content-restrain -->
  
  <div id="terminate" class="content-restrain">
    <h1>Delete</h1>
    <form action="javascript:void(0)"> <!-- I think I don't want this to go somewhere -->
      <p>ID:</p>
      <input type="text" autofocus required name="id" id="fluff">
      <br>
      <input type="submit" value="Submit" id="terminate-result">
    </form>
  </div><!-- end content-restrain -->
    
  <div class="result-restrain" id="results">
    <h1>Mission Accomplished.</h1>
    <p>'Grats. Have a Coookie.</p>
  </div><!-- end content -->
  
</div><!-- end content>