<!DOCTYPE html>
<html>
<head>
  <script type="text/javascript" src="global.js"></script>
  <link rel="stylesheet" href="style.css" type="text/css" charset="utf-8"> 
</head>
<body>
  <%= yield%>
</body>
</html>